<div class="container">
  <div class="col align-self-center">
    <h1 class="d-block p-2 bg-light text-center text-danger border border-dark rounded-pill">Ofertas!!</h1>
  </div>
<%= render 'product-cards' %>

<p type="button" class="btn btn-link"><%= link_to 'Back to products', products_path %></p>
</div>