
<% if policy(Product).create? %>
<div class="d-grid gap-2 mt-3 d-md-flex justify-content-between">
<%= link_to 'Ofertas!', cheap_products_path, class: "btn btn-outline-danger rounded-pill" %>
<%= link_to 'Colocar produto para vender', new_product_path, class: "btn btn-outline-success rounded-pill" %>
</div>
<%= render 'product-cards' %>
=======
<% end %>
