
<h1> Produtos </h1>
<ul><% @products.each do |product| %>
  <li><%= link_to product.title, product_path(product)%>
  R$:<%= product.price%></li>
 <% end %>
 </ul>
 <p type="button" class="btn btn-link"><%= link_to 'Ofertas!', cheap_products_path %></p>